body {
  margin: 0;
  font-family: "lato" !important;
  font-size: .88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
}

.InnerSpace {
  padding: 30px 30px 0;
}

.table-bordered>:not(caption)>* {
  border-width: 0px !important;
}

.InnerSpace button.btn-shadow.btn.btn-info {
  color: #fff !important;
}

.display-grid {
  display: grid;
}

.LineLeft {
  border-left: 1px solid #cccccc;

}

.table-responsive .form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: .875rem;
  border-radius: var(--bs-border-radius-sm);

}

.compressionTable tr {
  height: 50px;
}

.height38 {
  height: 38px;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ebeced;
  border-radius: 100%;
  text-align: center;
  display: flex;
  color: #4867d3;
  font-size: 50px;
  align-items: center;
  place-content: center;
  font-weight: 700;

}

.card01 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 15px;
  border-radius: 10px;
}

.SelectedNav {
  display: flex;
  justify-content: space-between;
}

.SelectedNav .form-select {
  width: unset;
}
.ArroWs {
  line-height: 24px;
}
/* .Compresssion tbody, td, tfoot, th, thead, tr {
 
  white-space: nowrap;
} */

/* Media Query Add */

@media only screen and (max-width: 600px) {
  .pricingdiv ul.theplan {
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }

  .pricingdiv ul.theplan:hover {
    transform: none;
    box-shadow: none;
  }

  .pricingdiv a.pricebutton {
    display: block;
  }
}



@media (max-width: 1399.98px) {
  .main-card.mb-3.card {
    display: grid;
    white-space: nowrap;
}
  
  .LoginForm .d-md-block {
    display: flex !important;
  }
}

@media (max-width: 1199.98px) {
  .height100 {
    height: 100px;
  }
  

}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
  .InnerSpace {
    padding: 15px 15px 0;
}
  
  .LoginForm .d-md-block {
    display: none !important;
  }

  .center-div {

    width: 70px;
    height: 70px;

    font-size: 40px;

  }

}

@media (max-width: 575.98px) {}